/*----- CUSTOM PROPERTIES-----*/
:root {
    --white-f: #ffffff;
    --black-0: #000000;
    --black: #121212;
    --black-2: #1d1d1d;
    --purple: #8670ef;
    --golden: #fcd966;

    // FONTS
    --kanit: "Kanit", sans-serif;
    --caveat: "Caveat", cursive;
}